.aTable {
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
  border-spacing: 4px;
  tr {
    background-color: ;
  }
  th {
    width: 8%;
    height: 136px;
    font-size: 66px;
    font-weight: bold;
  }
  td {
    width: 8%;
    /* height: 126px;
    font-size: 45px;*/
  }
}
table {
  width: 100%;
}
tr:hover {
  background-color: #f5f5f5;
}

.mat-form-field {
  font-size: 8px;
  width: 100%;
}
th {
  width: 8%;
  font-size: 12px;
  font-weight: bold;
}

td {
  width: 8%;
  height: 2px;
  font-size: 12px;
}

.example-second-header-row {
  font-style: italic;
}

.example-first-footer-row {
  font-weight: bold;
}

.example-second-footer-row td {
  color: #900000;
}

.mat-column-action {
  flex: 0 0 100px;
}
.mat-column-select {
  overflow: initial;
}
/* .icon-twicedisplay {
    transform: scale(11);
 } */

tr.mat-footer-row {
  font-weight: bold;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 6px;
  width: 20px;
}
/* table,
th,
td {
  border: 1px solid black;
} */
table {
  border: 1px solid black;
}
form {
  border: 1px solid black;
}
p {
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
}

.mat-row {
  height: 0.3em;
}
.mat-header-row {
  height: 0.3em;
}
input[type='text'] {
  font-size: 12px;
}
