.mat-card{
  border: 55px solid #000
 }

mmat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }
  
  button, mat-slide-toggle {
    margin-bottom: 18rem;
  }

 mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .outline {
    border-style: solid;
    border-width: medium;
}

  /* .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }

  
  form {
    margin-top: 1%;
     border: 1px solid; 
  } */
  span + span {
    margin-left: 60px;
}